{% extends 'food/base.html' %}
{% block title %}Envoi d'email{% endblock title %}
{% block content %}


<section class="signin_img">
	<div class="container">
		<div class="row">
		  <div class="col-lg-12 text-center">
		    <h3 class="section-heading reset_done" id="signin_bonbon">
		    	Vous allez recevoir un email de confirmation<br>à l'adresse que vous venez d'indiquer.<br>Dans le cas contraire, vérifiez le dossier spam<br>ainsi que la bonne écriture de votre adresse email.</h3>
		    <hr class="my-4">
		  </div>
		</div>
		<div class="row">
		  <div class="col-lg-12 text-center">
		    <div class="service-box mt-5 mx-auto" id="history_width">
		      <i class="fa fa-4x fa-user-circle text-primary mb-3 sr-icons"></i>
		    </div>
		  </div>
		</div>
	</div>
</section>

{% endblock content %}
