{% extends 'culture/base.html' %}
{% block title %}Erreur 404{% endblock title %}
{% block content %}

<section class="row">
	<div class="col-md-12 col-lg-8">
		<div class="jumbotron text-center">
			<h1 class="mb-4">Erreur 404</h1>
			<p class="lead">Page non trouvée</p>
			<p>La page que vous avez demandée ne peut être trouvé.<br>
			Utilisez le bouton de retour de votre navigateur ou cliquez sur le bouton ci-dessous.</p>
			<p class="lead"><a class="btn btn-primary btn-lg mt-2" href="#" role="button">Retour à la page d'accueil</a></p>
		</div>
	</div>
</section>

{% endblock content %}
