<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="Réseau Social de conseil en produits culturels - Livres, Films, Séries et Musique.">
	<meta name="author" content="Jean-François Subrini">
    <title>{% block title %}{% endblock title %}</title>

    {% load static %}

	<link rel="icon" href="{% static 'culture/images/favicon.ico' %}">

    <!-- Bootstrap core CSS -->
    <link href="{% static 'culture/dist/css/bootstrap.min.css' %}" rel="stylesheet">
    
    <!-- Icons -->
    <link href="{% static 'culture/css/font-awesome.css' %}" rel="stylesheet">
    
    <!-- Custom styles for all templates -->
    <link href="{% static 'culture/css/style.css' %}" rel="stylesheet">

	<!-- My own custom styles for all templates -->
    <link href="{% static 'culture/css/mystyle.css' %}" rel="stylesheet">

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="{% static 'culture/dist/js/bootstrap.min.js' %}"></script>
    
    <script src="{% static 'culture/js/chart.min.js' %}"></script>
    <script src="{% static 'culture/js/chart-data.js' %}"></script>
    <script src="{% static 'culture/js/easypiechart.js' %}"></script>
    <script src="{% static 'culture/js/easypiechart-data.js' %}"></script>
    <script src="{% static 'culture/js/bootstrap-datepicker.js' %}"></script>
    <script src="{% static 'culture/js/custom.js' %}"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    
</head>
<body>
	<div class="container-fluid" id="wrapper">
		<div class="row">
			<nav class="sidebar col-xs-12 col-sm-4 col-lg-3 col-xl-2">
				<h1 class="site-title"><a href="{% url 'index' %}"><em class="fa fa-heart"></em> MyChoice</a></h1>
													
				<a href="#menu-toggle" class="btn btn-default" id="menu-toggle"><em class="fa fa-bars"></em></a>
				<ul class="nav nav-pills flex-column sidebar-nav">
					<li class="nav-item"><a class="nav-link active" href="{% url 'index' %}"><em class="fa fa-history"></em> Actualité <span class="sr-only">(current)</span></a></li>
					<li class="nav-item"><a class="nav-link" href="{% url 'categories' %}"><em class="fa fa-plus-circle"></em> Catégories</a></li>
					<li class="nav-item"><a class="nav-link" href="{% url 'contribute' %}"><em class="fa fa-pencil"></em> Votre Avis</a></li>
					<li class="nav-item"><a class="nav-link" href="{% url 'mylist' %}"><em class="fa fa-list-ul"></em> Ma Liste</a></li>
					<li class="nav-item"><a class="nav-link" href="{% url 'features' %}"><em class="fa fa-info-circle"></em> Fonctionnalités</a></li>
					<li class="nav-item"><a class="nav-link" href="{% url 'register' %}"><em class="fa fa-user"></em> Inscription</a></li>
					<li class="nav-item"><a class="nav-link" href="{% url 'signin' %}"><em class="fa fa-sign-in"></em> Connexion</a></li>
				</ul>
				<a href="{% url 'signout' %}" class="logout-button"><em class="fa fa-sign-out"></em> Déconnexion</a>
			</nav>
			<main class="col-xs-12 col-sm-8 col-lg-9 col-xl-10 pt-3 pl-4 ml-auto">
				<header class="page-header row justify-center">
					<div class="col-md-6 col-lg-8" >
						<h1 class="float-left text-center text-md-left">Dashboard</h1>
					</div>
					<div class="dropdown user-dropdown col-md-6 col-lg-4 text-center text-md-right"><a class="btn btn-stripped dropdown-toggle" href="#" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<img src="{% static 'culture/images/profile-pic.jpg' %}" alt="profile photo" class="circle float-left profile-photo" width="50" height="auto">
						<div class="username mt-1">
							<h4 class="mb-1">Username</h4>
							<h6 class="text-muted">Super Admin</h6>
						</div>
						</a>
						<div class="dropdown-menu dropdown-menu-right" style="margin-right: 1.5rem;" aria-labelledby="dropdownMenuLink"><a class="dropdown-item" href="#"><em class="fa fa-user-circle mr-1"></em> View Profile</a>
						     <a class="dropdown-item" href="#"><em class="fa fa-sliders mr-1"></em> Preferences</a>
						     <a class="dropdown-item" href="{% url 'signout' %}"><em class="fa fa-power-off mr-1"></em> Logout</a></div>
					</div>
					<div class="clear"></div>
				</header>

    			<!-- Content for each page of the website -->			
			    <div>
			      {% block content %}{% endblock content %}
			    </div>

    			<!-- Footer -->
				<footer class="row">
					<div class="col-12 mt-1 mb-4 text-center">Copyright &copy; 2018 Jean-François Subrini. All Rights Reserved.<br>
					Contact : jfsubrini@zoho.com<br>
					Credits : Template by <a href="https://www.medialoot.com">Medialoot</a></div>
				</footer>
			</main>
		</div>
	</div>
</body>
</html>
