{% extends 'culture/base.html' %}
{% block title %}Votre Avis{% endblock title %}
{% block content %}
{% load static %}

<section class="row contribute_img">
	<div class="col-sm-12">
		<section class="row">
			<div class="col-md-12 col-lg-8 offset-lg-2">
				<div class="card mb-4">
					<div class="card-block">
						<h3 class="card-title">Vos recommandations</h3>
						<h6 class="card-subtitle mb-2 text-muted">Vos coups de cœur</h6>
						<form class="form-horizontal" action="" method="post">
							<fieldset>
								<!-- Categories -->
								<div class="form-group">											
									<label class="col-12 control-label no-padding" for="name">Catégories</label>
									<div class="col-12 no-padding">
										<select class="custom-select form-control">
											<option selected>Sélectionnez une catégorie</option>
											<option value="1">Livres</option>
											<option value="2">Films de cinéma</option>
											<option value="3">Séries télévisées</option>
											<option value="4">Albums de musique</option>
											</select>
										</div>
								</div>
							
								<!-- Cultural item search -->
								<div class="form-group">
									<label class="col-12 control-label no-padding" for="email">Titre du produit culturel</label>
										<div class="col-12 no-padding">
											<div class="input-group"><span class="input-group-prepend">
												<button class="btn btn-info margin" type="button"><span class="fa fa-search"></span> &nbsp;Chercher</button>

												</span>
												<input type="text" class="form-control" placeholder="Ecrivez le titre d'un(e) livre, film, série, ou album de musique">
											</div>
										</div>
								</div>
								
								<!-- Result of a book search on Amazon website -->
								<div class="row">
									<div class="col-lg-5 mb-4 bg-default">
										<div class="card">
											<div class="card-header fa fa-amazon fa-lg"> Photo du livre</div>
											<div class="card-block">
												<a class="portfolio-box badge1" data-badge="{{ substitute.nutrition_grade }}" href="{% static 'culture/images/livre.jpg' %}">
											    <img class="img-fluid img_center" src="{% static 'culture/images/livre.jpg' %}" alt="{{ substitute.name }}" width="100%">
												</a>
											</div>
										</div>
									</div>
									<div class="col-lg-7 mb-4">
										<div class="card text-white bg-primary">
											<div class="card-header fa fa-amazon fa-lg"> Informations sur le livre</div>
											<div class="card-block">
												<p>Titre : La tresse<br>
												Auteur : Læticia Colombani<br>
												Année : 2017<br>
												Editeur : Grasset<br>
												Collection : Littérature Française<br>
												Pages : 224<br>
												Langue : Français<br>
												Prix : 18,00 €<br>
												ISBN-13 : 978-2246813880</p>
											</div>
										</div>
									</div>
								</div>

								<!-- Result of a film search on Allociné website -->
								<div class="row">
									<div class="col-lg-5 mb-4 bg-default">
										<div class="card">
											<div class="card-header"><img src="{% static 'culture/images/icon_allocine.png' %}" width=27> Photo de l'affiche</div>
											<div class="card-block">
												<a class="portfolio-box badge1" data-badge="{{ substitute.nutrition_grade }}" href="{% static 'culture/images/film.jpg' %}">
											    <img class="img-fluid img_center" src="{% static 'culture/images/film.jpg' %}" alt="{{ substitute.name }}" width="100%">
												</a>
											</div>
										</div>
									</div>
									<div class="col-lg-7 mb-4">
										<div class="card text-white bg-primary">
											<div class="card-header"><img src="{% static 'culture/images/icon_allocine.png' %}" width=27> Informations sur le film</div>
											<div class="card-block">
												<p>Titre : A la dérive<br>
												Réalisateur : Baltasar Kormákur<br>
												Année : 2018<br>
												Nationalité : Américain<br>
												Genre : Drame<br>
											</div>
										</div>
									</div>
								</div>

								<!-- Result of a serie search on Allociné website -->
								<div class="row">
									<div class="col-lg-5 mb-4 bg-default">
										<div class="card">
											<div class="card-header"><img src="{% static 'culture/images/icon_allocine.png' %}" width=27> Photo</div>
											<div class="card-block">
												<a class="portfolio-box badge1" data-badge="{{ substitute.nutrition_grade }}" href="{% static 'culture/images/serie.jpg' %}">
											    <img class="img-fluid img_center" src="{% static 'culture/images/serie.jpg' %}" alt="{{ substitute.name }}" width="100%">
												</a>
											</div>
										</div>
									</div>
									<div class="col-lg-7 mb-4">
										<div class="card text-white bg-primary">
											<div class="card-header"><img src="{% static 'culture/images/icon_allocine.png' %}" width=27> Informations sur la série</div>
											<div class="card-block">
												<p>Titre : La Casa de Papel<br>
												Auteur : Alex Pina<br>
												Année : 2017<br>
												Pays : Espagne<br>
												Genre : Drame<br>
											</div>
										</div>
									</div>
								</div>

								<!-- Result of a music LP search on Amazon website -->
								<div class="row">
									<div class="col-lg-5 mb-4 bg-default">
										<div class="card">
											<div class="card-header fa fa-amazon fa-lg"> Photo de l'album</div>
											<div class="card-block">
												<a class="portfolio-box badge1" data-badge="{{ substitute.nutrition_grade }}" href="{% static 'culture/images/disque.jpg' %}">
											    <img class="img-fluid img_center" src="{% static 'culture/images/disque.jpg' %}" alt="{{ substitute.name }}" width="100%">
												</a>
											</div>
										</div>
									</div>
									<div class="col-lg-7 mb-4">
										<div class="card text-white bg-primary">
											<div class="card-header fa fa-amazon fa-lg"> Informations sur l'album</div>
											<div class="card-block">
												<p>Titre : Houses Of The Holy<br>
												Auteur : Led Zeppelin<br>
												Année : 2014<br>
												Label : Atlantic<br>
												Prix : 15,99 €<br>
											</div>
										</div>
									</div>
								</div>

								<!-- Choose this item or find another one -->
								<div class="row">
									<div class="col-lg-5 mb-4 offset-lg-1 col-md-2 mb-4 bg-default">
										<button class="btn btn-danger margin" type="button"><span class="fa fa-trash"></span> &nbsp;Non, c'est pas ça !</button>
									</div>
									<div class="col-lg-5 offset-lg-1 col-md-2 offset-md-4 mb-4 bg-default">
										<button class="btn btn-warning margin" type="button"><span class="fa fa-heart"></span> &nbsp;Je valide ce choix !</button>
									</div>
								</div>
								
								<!-- Comments on the selected product -->
								<div class="form-group">
									<label class="col-12 control-label no-padding" for="message">Vos commentaires</label>
									<div class="col-12 no-padding">
										<textarea class="form-control" id="message" name="message" placeholder="Entrez vos commentaires sur ce produit pour partager votre coup de cœur." rows="10"></textarea>
									</div>
								</div>
								
								<!-- Submit -->
								<div class="form-group">
									<div class="col-12 widget-right no-padding">
										<button class="btn btn-success margin float-right" type="button"><span class="fa fa-check"></span> &nbsp;Envoyer</button>
									</div>
								</div>
							</fieldset>
						</form>
					</div>
				</div>
			</div>
		</section>
	</div>
</section>

{% endblock content %}
