{% extends 'culture/base.html' %}
{% block title %}Accueil MyChoice{% endblock title %}
{% block content %}
{% load static %}

<section class="row index_img">
	<div class="col-sm-12">
		<section class="row">
			<div class="col-md-12 col-lg-8">
				<div class="jumbotron text-center">
					<h1 class="mb-4">L’actualité culturelle que vous recommandez !</h1>
					<p class="lead">Livres, films, séries, musique</p>
					<p>Postez vos coups de cœur et faites nous profiter de vos découvertes.</p>
					<p class="lead"><a class="btn btn-primary btn-lg mt-2" href="{% url 'features' %}" role="button">Découvrez notre concept</a></p>
				</div>
				<div class="card mb-4">
					<div class="card-block">
						<h3 class="card-title">Vos coups de <span class="fa fa-heart fa-lg"></h3>

						<h6 class="card-subtitle mb-2 text-muted">Dernières publications</h6>
						<div class="divider" style="margin-top: 1rem;"></div>
						<div class="articles-container">
							<div class="article border-bottom">
								<div class="col-xs-12">
									<div class="row">
										<div class="dropdown user-dropdown col-md-6 col-lg-3 text-center text-md-right"><a class="btn btn-stripped dropdown-toggle" href="#" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										<img src="{% static 'culture/images/profile-pic.jpg' %}" alt="profile photo" class="circle float-left profile-photo" width="50" height="auto">
											<div class="username mt-1">
												<h4 class="mb-1">Julie Desplat</h4>
												<h6 class="text-muted">31/8/18 12:23:34</h6>
											</div>
											</a>
											<div class="dropdown-menu dropdown-menu-right" style="margin-right: 1.5rem;" aria-labelledby="dropdownMenuLink">
												 <a class="dropdown-item" href="#"><em class="fa fa-user-circle mr-1"></em> Voir son Profil</a>
											     <a class="dropdown-item" href="#"><em class="fa fa-pencil mr-1"></em> Voir ses <span class="fa fa-heart fa-lg"></span></a>
											</div>
										</div>
										<div class="clear"></div>
										<div class="col-md-11 offset-md-1 col-lg-8 offset-lg-1">
											<h4><a href="#">La tresse, de Læticia Colombani</a></h4>
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer at sodales nisl. Donec malesuada orci ornare risus finibus feugiat...</p>
										</div>
									</div>
								</div>
								<div class="clear"></div>
							</div><!--End .article-->
							
							<div class="article">
								<div class="col-xs-12">
									<div class="row">
										<div class="dropdown user-dropdown col-md-6 col-lg-3 text-center text-md-right"><a class="btn btn-stripped dropdown-toggle" href="#" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										<img src="{% static 'culture/images/profile-pic2.jpg' %}" alt="profile photo" class="circle float-left profile-photo" width="50" height="auto">
											<div class="username mt-1">
												<h4 class="mb-1">Robert Molina</h4>
												<h6 class="text-muted">30/8/18 15:26:12</h6>
											</div>
											</a>
											<div class="dropdown-menu dropdown-menu-right" style="margin-right: 1.5rem;" aria-labelledby="dropdownMenuLink">
												 <a class="dropdown-item" href="#"><em class="fa fa-user-circle mr-1"></em> Voir son Profil</a>
											     <a class="dropdown-item" href="#"><em class="fa fa-pencil mr-1"></em> Voir ses <span class="fa fa-heart fa-lg"></span></a>
											</div>
										</div>
										<div class="clear"></div>
										<div class="col-md-11 offset-md-1 col-lg-8 offset-lg-1">
											<h4><a href="#">La tresse, de Læticia Colombani</a></h4>
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer at sodales nisl. Donec malesuada orci ornare risus finibus feugiat...</p>
										</div>
									</div>
								</div>
								<div class="clear"></div>
							</div><!--End .article-->
							
							<div class="article">
								<div class="col-xs-12">
									<div class="row">
										<div class="dropdown user-dropdown col-md-6 col-lg-3 text-center text-md-right"><a class="btn btn-stripped dropdown-toggle" href="#" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										<img src="{% static 'culture/images/profile-pic3.jpg' %}" alt="profile photo" class="circle float-left profile-photo" width="50" height="auto">
											<div class="username mt-1">
												<h4 class="mb-1">Julien Dropane</h4>
												<h6 class="text-muted">31/8/18 12:23:34</h6>
											</div>
											</a>
											<div class="dropdown-menu dropdown-menu-right" style="margin-right: 1.5rem;" aria-labelledby="dropdownMenuLink">
												 <a class="dropdown-item" href="#"><em class="fa fa-user-circle mr-1"></em> Voir son Profil</a>
											     <a class="dropdown-item" href="#"><em class="fa fa-pencil mr-1"></em> Voir ses <span class="fa fa-heart fa-lg"></span></a>
											</div>
										</div>
										<div class="clear"></div>
										<div class="col-md-11 offset-md-1 col-lg-8 offset-lg-1">
											<h4><a href="#">Aurore, de Fredrich Nietzsche</a></h4>
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer at sodales nisl. Donec malesuada orci ornare risus finibus feugiat...</p>
										</div>
									</div>
								</div>
								<div class="clear"></div>
							</div><!--End .article-->
						</div>
					</div>
				</div>
			</div>
			<!-- All the categories -->
			<div class="col-md-12 col-lg-4">
				<div class="card mb-4">
					<div class="card-block">
						<h3 class="card-title">Catégories culturelles</h3>
						<h6 class="card-subtitle mb-2 text-muted">Les plus actives depuis 30 jours</h6>
						<div class="user-progress justify-center">
							<div class="col-sm-3 col-md-2 fa fa-book fa-lg" style="padding: 0;">
								<!-- <img src="{% static 'culture/images/profile-pic.jpg' %}" alt="profile photo" class="circle profile-photo" style="width: 100%; max-width: 100px;"> -->
							</div>
							<div class="col-sm-9 col-md-10">
								<h6 class="pt-1">Libres</h6>
								<div class="progress progress-custom">
									<div class="progress-bar bg-primary" style="width: 75%" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
								</div>
							</div>
						</div>
						<div class="user-progress justify-center">
							<div class="col-sm-3 col-md-2 fa fa-film fa-lg" style="padding: 0;">
								<!-- <img src="{% static 'culture/images/profile-pic.jpg' %}" alt="profile photo" class="circle profile-photo" style="width: 100%; max-width: 100px;"> -->
							</div>
							<div class="col-sm-9 col-md-10">
								<h6 class="pt-1">Films</h6>
								<div class="progress progress-custom">
									<div class="progress-bar bg-primary" style="width: 50%" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
								</div>
							</div>
						</div>
						<div class="user-progress justify-center">
							<div class="col-sm-3 col-md-2 fa fa-television fa-lg" style="padding: 0;">
								<!-- <img src="{% static 'culture/images/profile-pic.jpg' %}" alt="profile photo" class="circle profile-photo" style="width: 100%; max-width: 100px;"> -->
							</div>
							<div class="col-sm-9 col-md-10">
								<h6 class="pt-1">Séries</h6>
								<div class="progress progress-custom">
									<div class="progress-bar bg-primary" style="width: 25%" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
								</div>
							</div>
						</div>
						<div class="user-progress justify-center">
							<div class="col-sm-3 col-md-2 fa fa-music fa-lg" style="padding: 0;">
								<!-- <img src="{% static 'culture/images/profile-pic.jpg' %}" alt="profile photo" class="circle profile-photo" style="width: 100%; max-width: 100px;"> -->
							</div>
							<div class="col-sm-9 col-md-10">
								<h6 class="pt-1">Musique</h6>
								<div class="progress progress-custom">
									<div class="progress-bar bg-primary" style="width: 55%" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</section>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script>
    var startCharts = function () {
                var chart1 = document.getElementById("line-chart").getContext("2d");
                window.myLine = new Chart(chart1).Line(lineChartData, {
                responsive: true,
                scaleLineColor: "rgba(0,0,0,.2)",
                scaleGridLineColor: "rgba(0,0,0,.05)",
                scaleFontColor: "#c5c7cc "
                });
            }; 
        window.setTimeout(startCharts(), 1000);
</script>

{% endblock content %}
