{% extends 'culture/base.html' %}
{% block title %}Ma Liste{% endblock title %}
{% block content %}
{% load static %}

<section class="row mylist_img">
	<div class="col-sm-12">
		<section class="row">
			<div class="col-md-12 col-lg-10 offset-lg-1">
				<div class="jumbotron text-center">
					<h1 class="mb-4">Mon panier de produits culturels</h1>
					<p class="lead">Livres, films, séries, musique</p>
					<p>Ma sélection de coups de cœur</p>
					<p class="lead"><a class="btn btn-primary btn-lg mt-2" href="{% url 'index' %}" role="button">Retour à l'actualité</a></p>
				</div>

				<div class="card mb-4">
					<div class="card-block">
						<h3 class="card-title">Ma liste</h3>
						<div class="dropdown card-title-btn-container">
							<button class="btn btn-sm btn-subtle dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><em class="fa fa-cog"> Tri</em></button>
							<div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
								<a class="dropdown-item" href="#"><em class="fa fa-list-ul mr-1"></em> Par catégories</a>
							    <a class="dropdown-item" href="#"><em class="fa fa-thumb-tack mr-1"></em> Par date</a>
							    <a class="dropdown-item" href="#"><em class="fa fa-remove mr-1"></em> Blabla</a></div>
						</div>
						<div class="table-responsive">
							<table class="table table-striped text-center">
								<thead>
									<tr>
										<th>N°</th>
										<th>Type</th>
										<th>Photo</th>
										<th>Supprimer</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>001</td>
										<td>Livres</td>
										<td><a class="portfolio-box badge1" data-badge="{{ substitute.nutrition_grade }}" href="{% static 'culture/images/livre.jpg' %}">
										<img class="img-fluid img_center" src="{% static 'culture/images/livre.jpg' %}" alt="{{ substitute.name }}" width="20%"></a></td>
										<td class="fa fa-trash-o"></td>
									</tr>
									<tr>
										<td>002</td>
										<td>Films</td>
										<td><a class="portfolio-box badge1" data-badge="{{ substitute.nutrition_grade }}" href="{% static 'culture/images/film.jpg' %}">
										<img class="img-fluid img_center" src="{% static 'culture/images/film.jpg' %}" alt="{{ substitute.name }}" width="20%"></a></td>
										<td class="fa fa-trash-o"></td>
									</tr>
									<tr>
										<td>003</td>
										<td>Livres</td>
										<td><a class="portfolio-box badge1" data-badge="{{ substitute.nutrition_grade }}" href="{% static 'culture/images/livre.jpg' %}">
										<img class="img-fluid img_center" src="{% static 'culture/images/livre.jpg' %}" alt="{{ substitute.name }}" width="20%"></a></td>
										<td class="fa fa-trash-o"></td>
									</tr>
									<tr>
										<td>004</td>
										<td>Musique</td>
										<td><a class="portfolio-box badge1" data-badge="{{ substitute.nutrition_grade }}" href="{% static 'culture/images/disque.jpg' %}">
										<img class="img-fluid img_center" src="{% static 'culture/images/disque.jpg' %}" alt="{{ substitute.name }}" width="20%"></a></td>
										<td class="fa fa-trash-o"></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</section>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script>
    var startCharts = function () {
                var chart1 = document.getElementById("line-chart").getContext("2d");
                window.myLine = new Chart(chart1).Line(lineChartData, {
                responsive: true,
                scaleLineColor: "rgba(0,0,0,.2)",
                scaleGridLineColor: "rgba(0,0,0,.05)",
                scaleFontColor: "#c5c7cc "
                });
            }; 
        window.setTimeout(startCharts(), 1000);
</script>

{% endblock content %}
