{% extends 'culture/base.html' %}
{% block title %}Posts{% endblock title %}
{% block content %}
{% load static %}

<section class="row">
	<div class="col-sm-12">
		<section class="row">
			<div class="col-md-12 col-lg-8 offset-lg-2">
				<div class="card mb-4">
					<div class="card-block">
						<h3 class="card-title">Vos recommandations</h3>
						<div class="dropdown card-title-btn-container">
							<button class="btn btn-sm tn-subtle dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><em class="fa fa-cog"></em></button>
							<div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton"><a class="dropdown-item" href="#"><em class="fa fa-search mr-1"></em> More info</a>
								<a class="dropdown-item" href="#"><em class="fa fa-thumb-tack mr-1"></em> Pin Window</a>
								<a class="dropdown-item" href="#"><em class="fa fa-remove mr-1"></em> Close Window</a></div>
						</div>
						<h6 class="card-subtitle mb-2 text-muted">Vos coups de cœur</h6>
						<form class="form-horizontal" action="" method="post">
							<fieldset>
								<!-- Categories -->
								<div class="form-group">											
									<label class="col-12 control-label no-padding" for="name">Catégories</label>
									<div class="col-12 no-padding">
										<select class="custom-select form-control">
											<option selected>Sélectionnez une catégorie</option>
											<option value="1">Livres</option>
											<option value="2">Films de cinéma</option>
											<option value="3">Séries télévisées</option>
											<option value="4">Albums de musique</option>
											</select>
										</div>
								</div>
							
								<!-- Cultural item search -->
								<div class="form-group">
									<label class="col-12 control-label no-padding" for="email">Titre du produit culturel</label>
										<div class="col-12 no-padding">
											<div class="input-group"><span class="input-group-prepend">
												<button class="btn btn-info margin" type="button"><span class="fa fa-search"></span> &nbsp;Chercher</button>

												</span>
												<input type="text" class="form-control" placeholder="Ecrivez le titre d'un(e) livre, film, série, ou album de musique">
											</div>
										</div>
								</div>
								
								<!-- Result of the item search on Amazon website -->
								<div class="row">
									<div class="col-lg-5 mb-4 bg-default">
										<div class="card">
											<div class="card-header fa fa-amazon fa-lg"> Photo</div>
											<div class="card-block">
												<a class="portfolio-box badge1" data-badge="{{ substitute.nutrition_grade }}" href="{% static 'culture/images/9782246813880-001-T.jpg' %}">
												<figure>
											    <img class="img-fluid img_center" src="{% static 'culture/images/9782246813880-001-T.jpg' %}" alt="{{ substitute.name }}" width="100%">
												</a>
											</div>
										</div>
									</div>
									<div class="col-lg-7 mb-4">
										<div class="card text-white bg-primary">
											<div class="card-header fa fa-amazon fa-lg"> Information</div>
											<div class="card-block">
												<p>Titre : La tresse<br>
												Auteur : Læticia Colombani<br>
												Editeur : Grasset<br>
												Collection : Littérature Française<br>
												Prix : 18,00 €<br>
												ISBN-13 : 978-2246813880</p>
											</div>
										</div>
									</div>
								</div>

								<!-- Choose this item or find another one -->
								<div class="row">
									<div class="col-lg-5 mb-4 offset-lg-1 col-md-2 mb-4 bg-default">
										<button class="btn btn-danger margin" type="button"><span class="fa fa-trash"></span> &nbsp;Non, c'est pas ça !</button>
									</div>
									<div class="col-lg-5 offset-lg-1 col-md-2 offset-md-4 mb-4 bg-default">
										<button class="btn btn-warning margin" type="button"><span class="fa fa-heart"></span> &nbsp;Je valide ce choix !</button>
									</div>
								</div>
								
								<!-- Comments on the selected product -->
								<div class="form-group">
									<label class="col-12 control-label no-padding" for="message">Vos commentaires</label>
									<div class="col-12 no-padding">
										<textarea class="form-control" id="message" name="message" placeholder="Entrez vos commentaires sur le produit culturel sélectionné pour donner envie aux visiteurs de partager votre coup de cœur." rows="10"></textarea>
									</div>
								</div>
								
								<!-- Submit -->
								<div class="form-group">
									<div class="col-12 widget-right no-padding">
										<button class="btn btn-success margin float-right" type="button"><span class="fa fa-check"></span> &nbsp;Envoyer</button>
									</div>
								</div>
							</fieldset>
						</form>
					</div>
				</div>
			</div>
		</section>
	</div>
</section>

{% endblock content %}
