{% extends 'culture/base.html' %}
{% block title %}Créez un compte{% endblock title %}
{% block content %}
{% load static %}

<section class="row register_img">
	<div class="col-sm-12 transparency2">
		<section class="row">
			<div class="col-12">
				<div class="card mb-4">
					<div class="card-block">
						<h3 class="card-title">Créez votre compte</h3>
						<form class="form" action="#">
							<!-- Username -->
							<div class="form-group row">
								<label class="col-md-3 col-form-label">Nom d'utilisateur</label>
								<div class="col-md-9">
									<input class="form-control" type="text" name="placeholder" placeholder="Entrez votre nom d'utilisateur">
								</div>
							</div>
							<!-- Email input-->
							<div class="form-group row">
								<label class="col-md-3 col-form-label" for="email">Votre E-mail</label>
								<div class="col-md-9">
									<input id="email" name="email" type="text" placeholder="Entrez votre email" class="form-control">
								</div>
							</div>
							<!-- Password -->
							<div class="form-group row">
								<label class="col-md-3 col-form-label">Mot de passe</label>
								<div class="col-md-9">
									<input class="form-control" type="password" name="pass" placeholder="Entrez votre mot de passe">
								</div>
							</div>
							<!-- Gender -->
							<div class="form-group row">
								<label class="col-md-3 col-form-label">Genre</label>
								<div class="col-md-9">
									<div class="custom-control custom-radio">
										  <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
										  <label class="custom-control-label custom-control-description" for="customRadio1">Masculin</label>
									</div>
									<br />
									<div class="custom-control custom-radio">
										  <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input">
										  <label class="custom-control-label custom-control-description" for="customRadio2">Féminin</label>
									</div>
								</div>
							</div>
							<!-- Age -->
							<div class="form-group row">
								<label class="col-md-3 col-form-label">Âge</label>
								<div class="col-md-9">
									<select class="custom-select form-control">
										<option selected>Renseignez votre tranche d'âge</option>
										<option value="1">Moins de 18 ans</option>
										<option value="2">De 18 à 25 ans</option>
										<option value="3">De 26 à 35 ans</option>
										<option value="4">De 36 à 45 ans</option>
										<option value="5">De 46 à 59 ans</option>
										<option value="6">De 60 à 75 ans</option>
										<option value="7">Plus de 75 ans</option>
									</select>
								</div>
							</div>
							<!-- Geographic place -->
							<div class="form-group row">
								<label class="col-md-3 col-form-label">Région</label>
								<div class="col-md-9">
									<select class="custom-select form-control">
										<option selected>Renseignez votre région de résidence</option>
										<option value="1">Île de France</option>
										<option value="2">Bretagne</option>
										<option value="3">Corse</option>
										<option value="4">PACA</option>
										<option value="5">Haut de France</option>
										<option value="6">Europe</option>
										<option value="7">Reste du monde</option>
									</select>
								</div>
							</div>
							<div class="form-group row">
								<label class="col-md-3 col-form-label">Default input field</label>
								<div class="col-md-9">
									<input type="text" name="regular" class="form-control">
								</div>
							</div>
							<div class="form-group row">
								<label class="col-md-3 col-form-label">With placeholder</label>
								<div class="col-md-9">
									<input class="form-control" type="text" name="placeholder" placeholder="placeholder">
								</div>
							</div>
							<div class="form-group row">
								<label class="col-md-3 col-form-label">Valid Input</label>
								<div class="col-md-9">
									<input type="text" class="form-control is-valid" id="inputHorizontalSuccess">
								</div>
							</div>
							<div class="form-group row">
								<label class="col-md-3 col-form-label">Danger</label>
								<div class="col-md-9">
									<input type="text" class="form-control is-invalid" id="inputHorizontalDnger">
									<div class="invalid-feedback">Sorry, that username's taken. Try another?</div>
									<small class="form-text text-muted">Example help text that remains unchanged.</small></div>
							</div>
							<!-- Check profil photo ? -->
							<div class="form-group row">
								<label class="col-md-3 col-form-label"></label>
									<div class="col-lg-6 mb-sm-4 mb-lg-0">
										<div class="custom-control custom-checkbox">
											<input type="checkbox" class="custom-control-input" id="customCheck1">
											<label class="custom-control-label custom-control-description" for="customCheck1">Je désire mettre une photo de profil</label>
										</div>
									</div>
							</div>
							<!-- Submit -->
							<div class="form-group">
								<div class="col-12 widget-right no-padding">
									<button class="btn btn-success margin float-right" type="button"><span class="fa fa-check"></span> &nbsp;Enregistrer</button>
								</div>
							</div>
						</div>
						</form>
					</div>
				</div>
			</div>
		</section>
		




	</div>
</section>

{% endblock content %}
