{% extends 'culture/base.html' %}
{% block title %}Créez un compte{% endblock title %}
{% block content %}
{% load static %}

<section class="row">
	<div class="col-sm-12">
		<section class="row">
			<div class="col-12">
				<div class="card mb-4">
					<div class="card-block">
						<h3 class="card-title">Créez votre compte</h3>
						<form class="form" action="#">
							<!-- Email input-->
							<div class="form-group row">
								<label class="col-md-3 col-form-label" for="email">Votre E-mail</label>
								<div class="col-md-9">
									<input id="email" name="email" type="text" placeholder="Entrez votre email" class="form-control">
								</div>
							</div>
							<!-- Password -->
							<div class="form-group row">
								<label class="col-md-3 col-form-label">Mot de passe</label>
								<div class="col-md-9">
									<input class="form-control" type="password" name="pass" placeholder="Entrez votre mot de passe">
								</div>
							</div>
							<div class="form-group row">
								<label class="col-md-3 col-form-label">Valid Input</label>
								<div class="col-md-9">
									<input type="text" class="form-control is-valid" id="inputHorizontalSuccess">
								</div>
							</div>
							<div class="form-group row">
								<label class="col-md-3 col-form-label">Danger</label>
								<div class="col-md-9">
									<input type="text" class="form-control is-invalid" id="inputHorizontalDnger">
									<div class="invalid-feedback">Sorry, that username's taken. Try another?</div>
									<small class="form-text text-muted">Example help text that remains unchanged.</small></div>
							</div>
						</div>
						</form>
					</div>
				</div>
			</div>
		</section>
		




	</div>
</section>

{% endblock content %}
